* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: MicrosoftYaHei, MicrosoftYaHei-Regular;
    font-size: 16px;
    line-height: 1.4;
}

input {
    font-family: inherit;
    font-size: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}

a:link {
    text-decoration: none; /* 去除下划线 */
}
